<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">

<div class="container">
<br/>
  <h1 class="text-center">Depósito</h1>
<br/>

  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px">
      <h6 class="divider-text">
        <span class="teste1">Você está dando os primeiros passos para cadastrar um cliente. Preencha os dados para um pré-cadastro.</span>
      </h6>
      <form [formGroup]="formGroup" (ngSubmit)="depositar()">

        <!-- Agência -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="im im-location"></i></span>
          </div>
          <input
            formControlName = "agencia"
            type = "text"
            class = "form-control"
            placeholder="Agência">
        </div>

          <div class="col">
            <label>Número da Conta</label>
            <input type = "text"
            class = "form-control"
            formControlName = "numeroConta">
          </div>
          <div class="col">
            <label>Valor</label>
            <input type = "text"
            class = "form-control"
            formControlName = "valor">
          </div>

          <!-- Sacar -->
          <div class="form-group">
          <button type="submit" class="btn btn-dark">Depositar</button>
          </div>
      </form>
    </article>
  </div>
</div>
