<h1>Deposito</h1>

<form [formGroup]="formGroup" (ngSubmit)="depositar()">
  <div class="row">
    <div class="col">
      <label>Agência</label>
      <input
      type = "text"
      class = "form-control"
      formControlName = "agencia">
    </div>
    <div class="col">
      <label>Número da Conta</label>
      <input type = "text"
      class = "form-control"
      formControlName = "numeroConta">
    </div>
    <div class="col">
      <label>Valor</label>
      <input type = "text"
      class = "form-control"
      formControlName = "valor">
    </div>

    <!-- Sacar -->
    <div class="form-group">
    <button type="submit" class="btn btn-dark">Depositar</button>
    </div>
  </div>
</form>
