<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"/>

<div class="container">
  <br/>
  <h1 class="text-center">Cadastro de Cliente</h1>
  <br/>

  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px">
      <h6 class="divider-text">
        <span class="teste1">Você está dando os primeiros passos para cadastrar um cliente. Preencha os dados para um pré-cadastro.</span>
      </h6>
      <form [formGroup]="formGroup" (ngSubmit)="enviar()">

        <!-- ID -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-hashtag"></i></span>
          </div>
          <input
            formControlName="id"
            name="id"
            id="id"
            class="form-control"
            placeholder="ID"
            type="text">
          <small *ngIf="name?.invalid && name?.touched" class="text-danger"></small>
        </div>

        <!-- Nome Completo -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input
            formControlName="name"
            name="name"
            id="name"
            class="form-control"
            placeholder="Nome Completo"
            type="text">
          <small *ngIf="name?.invalid && name?.touched" class="text-danger"></small>
        </div>

        <!-- CPF -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-address-card"></i>
            </span>
          </div>
          <input
            formControlName="cpf"
            name="cpf"
            class="form-control"
            placeholder="CPF"
            type="text">
          <small *ngIf="cpf?.invalid && cpf?.touched" class="text-danger"></small>
        </div>

        <!-- Email -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            formControlName="email"
            name=""
            class="form-control"
            placeholder="Email"
            type="email">
          <small *ngIf="email?.invalid && email?.touched" class="text-danger"></small>
        </div>

        <div class="form-group">
          <label class="col-form-label"></label>
          <textarea formControlName="observacoes" class="form-control" placeholder="Observações"></textarea>
          <small *ngIf="observacoes?.invalid && observacoes?.touched" class="text-danger"></small>
        </div>

        <!-- Criar conta -->
        <div class="form-group">
          <button [disabled]="!formGroup.valid" (click)="enviar()" type="submit" class="btn btn-dark btn-block">Cadastrar Cliente</button>
        </div>
      </form>
    </article>
  </div>
</div>
