<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"/>

<div class="container">
  <br/>
  <h1 class="text-center">Cadastro de Pessoa Física</h1>
  <br/>

  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px">
      <h6 class="divider-text">
        <span class="teste1">Você está dando os primeiros passos para abrir uma conta. Preencha seus dados para um pré-cadastro.</span>
      </h6>
      <form [formGroup]="exform">

        <!-- Nome Completo -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input
            formControlName="name"
            name="name"
            id="name"
            class="form-control"
            placeholder="Nome Completo"
            type="text">
          <small *ngIf="name?.invalid && name?.touched" class="text-danger d1"></small>
        </div>

        <!-- CPF -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-address-card"></i>
            </span>
          </div>
          <input
            formControlName="cpf"
            name="cpf"
            class="form-control"
            placeholder="CPF"
            type="text">
          <small *ngIf="cpf?.invalid && cpf?.touched" class="text-danger"></small>
        </div>

        <!-- Email -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            formControlName="email"
            name=""
            class="form-control"
            placeholder="Email"
            type="email">
          <small *ngIf="email?.invalid && email?.touched" class="text-danger"></small>
        </div>

        <!-- Telefone -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 120px">
            <option selected="">83</option>
            <option value="1">84</option>
            <option value="2">82</option>
            <option value="3">81</option>
            <option value="3">71</option>
            <option value="3">41</option>
            <option value="3">31</option>
            <option value="3">21</option>
            <option value="3">11</option>
          </select>
          <input
            formControlName="telefone"
            name=""
            class="form-control"
            placeholder="Telefone"
            type="text">
          <small *ngIf="telefone?.invalid && telefone?.touched" class="text-danger"></small>
        </div>

        <!-- Profissão -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-building"></i>
            </span>
          </div>
          <select class="form-control">
            <option selected="">Profissão</option>
            <option>Analista de Sistemas</option>
            <option>Analista de Dados</option>
            <option>Big Data</option>
            <option>Desenvolvedor Angular</option>
            <option>Desenvolvedor Java</option>
          </select>
        </div>

        <!-- Senha -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input
            class="form-control"
            placeholder="Senha"
            type="password"/>
        </div>

        <!-- Confirmar senha -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i></span>
          </div>
          <input
            class="form-control"
            placeholder="Confirmar senha"
            type="password"/>
        </div>

        <!-- Criar conta -->
        <div class="form-group">
          <button (click)="botaoCadastro()" type="button" class="btn btn-dark btn-block">Criar Conta</button>
        </div>

        <!-- Já tem conta -->
        <p class="text-center">Já tem uma conta? <a href="">Login</a></p>
      </form>
    </article>
  </div>
</div>
<br/>
