<div class="b-example-divider"></div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Meu banco</a></li>
      <li class="nav-item"><a routerLink="/clientes" class="nav-link px-2 text-muted">Clientes</a></li>
      <li class="nav-item"><a routerLink="/clientes" class="nav-link px-2 text-muted">Contas</a></li>
      <li class="nav-item"><a routerLink="/extrato" class="nav-link px-2 text-muted">Extrato</a></li>
      <li class="nav-item"><a routerLink="/saque" class="nav-link px-2 text-muted">Saque</a></li>
      <li class="nav-item"><a routerLink="/deposito" class="nav-link px-2 text-muted">Depósito</a></li>
      <li class="nav-item"><a routerLink="/clientes" class="nav-link px-2 text-muted">Transferência</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
  </footer>
</div>
