<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>

<div class="container">
<br/>
<h1 class="text-center">Contas</h1>
</div>

<div *ngIf="!contas.length" class="text-center">
  <p>Carregando...</p>
  <br />
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<br />

<table *ngIf="contas.length" class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Cliente</th>
      <th scope="col">Agência</th>
      <th scope="col">Conta</th>
      <th scope="col">Saldo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas;">
      <td>{{ conta.id }}</td>
      <td>{{ conta.cliente.nome }}</td>
      <td>{{ conta.agencia }}</td>
      <td>{{ conta.numero }}</td>
      <td>{{ conta.saldo | currency: 'BRL'}}</td>
      <td>
        <a class="btn btn-danger btn-sm" (click)="confirmar(conta.id)">Remover</a>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-dark" routerLink="/cadastro-conta" routerLinkActive="active">Cadastrar Conta</a>
