<h1>Clientes</h1>

<div *ngIf="!clientes.length" class="text-center">
  <p>Carregando...</p>
  <br />
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<br />

<table *ngIf="clientes.length" class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Email</th>
      <th scope="col">Observações</th>
      <th scope="col">Ativo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes;">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.observacoes }}</td>
      <td>
        <i *ngIf="cliente.ativo" class="fas fa-thumbs-up text-success"></i>
        <i *ngIf="!cliente.ativo" class="fas fa-thumbs-down text-danger"></i>
      </td>
      <td>
        <a class="btn btn-danger btn-sm" (click)="confirmar(cliente.id)">Remover</a>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-dark" routerLink="/cadastro-cliente" routerLinkActive="active">Cadastrar</a>
